          <!-- News & Updates Traffic -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>

              <div class="news">
                {% if updates %}
                {% for rs in updates reversed %}
                <div class="post-item clearfix">
                  <img style="width: 50px;" src="{{rs.image.url}}" alt="">
                  <h4><a href="#">{{rs.title}}</a></h4>
                  <p>{{rs.detail |truncatechars:30}}</p>
                </div>
                {% endfor %}
                
                {% else %}
                <h5>No News and Updates</h5>
                {% endif %}

              </div><!-- End sidebar recent posts-->

            </div>
          </div><!-- End News & Updates -->