{% extends 'base.html' %}


{% block content %}
<style>
    .profile-container {
        margin-top: 70px;
        text-align: left;
        display: block;
    }

    input[type=text],
    input[type = file],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        display: block;
        padding-left: 10px;
        padding-right: 10px;
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;

    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }

    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {

        .col-25,
        .col-75,
        input[type=submit] {
            width: 100%;
            margin-top: 0;
        }
    }

    ul li {
        list-style: none;
        text-align: left;
    }
</style>
    {% include 'topbar.html' %}
    {% include 'sidebar.html' %}
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Register Plot</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/registerdashboard/">Register DashBoard</a></li>
                    <li class="breadcrumb-item active">Register Plot</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        
        <section class="section dashboard">
            <div class="row card">
                <!-- Left side columns -->
                <div class="col">
                    <div class="row">
                        <form action="" method="post" class="signin-form">
                            {% csrf_token %}
                            {{form.as_p}}
                            <div class="text-center">
                                <br>
                                <button class="btn btn-style btn-outline-primary m-2" style="width: 80%;">Submit</button>
                            </div>
                        </form>
                    </div>
                </div><!-- End Left side columns -->
            </div>
        </section>
{% endblock content %}
    	