  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="/profile/register">
          <i class="bi bi-person-plus"></i>
          <span>Create User</span>
        </a>
      </li>
      <!-- End Dashboard Nav -->
      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/profile/profile">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/notification/">
          <i class="bi bi-envelope"></i>
          <span>Notify Ultimate</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/create_update/">
          <i class="bi bi-envelope"></i>
          <span>Update Ultimate People</span>
        </a>
      </li>
      
      {% if user %}
        
      {% endif %}
        
      <li class="nav-item">
        <a class="nav-link collapsed" href="/make_appointment/">
          <i class="bi bi-envelope"></i>
          <span>Make Appointment</span>
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link collapsed" href="/registerdashboard/">
          <i class="bi bi-card-list"></i>
          <span>Registration Dashboard</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/registration/">
          <i class="bi bi-card-list"></i>
          <span>Land Registration</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/profile/logout/">
          <i class="bi bi-box-arrow-in-left"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Login Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->